version: "3.9"

x-bot-base: &bot-base
  init: true
  restart: on-failure:3

services:
  apex_map_bot:
    <<: *bot-base
    container_name: apex-map-bot
    build:
      context: .
      dockerfile: Dockerfile