version: "3.9"

x-bot-base: &bot-base
  init: true
  restart: on-failure:3

services:
  apex_map_bot:
    <<: *bot-base
    container_name: apex-map-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex
    environment:
      STARTUP_DELAY: "0"

  apex_daan_bot:
    <<: *bot-base
    container_name: apex-daan-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      STARTUP_DELAY: "10"
      PLAYER_NAME: "DAAN"

  apex_eben_bot:
    <<: *bot-base
    container_name: apex-eben-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      STARTUP_DELAY: "20"
      PLAYER_NAME: "EBEN"

  apex_nino_bot:
    <<: *bot-base
    container_name: apex-nino-bot
    build:
      context: .
      dockerfile: Dockerfile
      args:
        APP_DIR: apex_player
    environment:
      STARTUP_DELAY: "30"
      PLAYER_NAME: "NINO"
